@using Vikaba.Data
@model List<Vikaba.Data.News>

@{
    ViewBag.Title = "Все новости";
    Layout = "_Layout";
}

<h2>Все новости на сегодня</h2>

<div>
    
    @foreach (var newsItem in Model)
    {
        <div class="news-item">
            <h2 class="news-headline">@newsItem.Headline</h2>
            <h3 class="news-subheadline">@newsItem.SubHeadline</h3>
            <div class="news-content">@newsItem.Content</div>
            <span class="news-publishedat">@newsItem.PublishedAt</span>
            
            @foreach (var tagItem in newsItem.Tags)
            {
                <a asp-controller="News"
                   asp-action="TagsToNews"
                   asp-route-tagId="@tagItem.Title">@tagItem.Title</a>
            }
            
        </div>
    }
    
</div>


