@using System.IO
@model Vikaba.Data.BoardThread[]

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var thread in Model)
{
    <div class="thread">
        <span class="postdate">@thread.CreatedAt</span>
        <span class="id">@thread.Id</span>
        <span class="subject">@thread.Subject</span>
        <blockquote class="usertext">@thread.UserText</blockquote>

        @foreach (var comment in thread.Comments)
        {
            <div class="comment">
                <span class="postdate">@comment.CreatedAt</span>
                <span class="id">@comment.Id</span>
                <span class="username">@comment.UserName</span>
                <blockquote class="usertext">@comment.UserText</blockquote>
            </div>
        }
    </div>
}