@using Vikaba.Data
@model List<BoardThread>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<a asp-controller="Thread" asp-action="PostThread"
   asp-route-board="@ViewBag.Board" class="btn btn-primary">
    <i class="fa fa-plus"></i> Создать тред
</a>

@foreach (BoardThread thread in Model)
{
    <div class="thread">
        <a asp-controller="Thread"
           asp-action="ThreadComments"
           asp-route-threadId="@thread.Id"
           asp-route-board="@thread.Board.Link">
            Ответ
        </a>
        <span class="postdate">@thread.CreatedAt</span>
        <span class="id">@thread.Id</span>
        <span class="subject">@thread.Headline</span>
        <blockquote class="usertext">@thread.Content</blockquote>

        @foreach (var comment in thread.Comments)
        {
            <div class="comment">
                <span class="postdate">@comment.CreatedAt</span>
                <span class="id">@comment.Id</span>
                <span class="username">@comment.UserName</span>
                <blockquote class="usertext">@comment.UserText</blockquote>
            </div>
        }
    </div>
}