@model Vikaba.Data.BoardThread

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="thread-post">
    <span class="post-no">@Model.Id</span>
    <span class="headline">@Model.Headline</span>
    <blockquote class="content">@Model.Content</blockquote>
    <span class="post-date">@Model.CreatedAt</span>
    <img src="/@Model.Image" alt="@Model.Headline">
</div>

@foreach (var comment in Model.Comments)
{
    <div class="comment">
        <span class="postdate">@comment.CreatedAt</span>
        <span class="id">@comment.Id</span>
        <span class="username">@comment.UserName</span>
        <blockquote class="usertext">@comment.UserText</blockquote>
    </div>
}